<div class="main-content">
  <section class="main-content__primary">
    <header class="main-content__header">
      <h1 class="main-content__heading-primary">{{t 'site_name'}}</h1>
      <h2 class="main-content__heading-secondary">{{t 'index.header_subheadline'}}</h2>
    </header>

    <p>{{t 'index.intro_1' htmlSafe=true}}</p>
    <p>{{t 'index.intro_2'}}</p>
    <p>{{t 'index.intro_3' htmlSafe=true}}</p>
    <p>{{t 'index.intro_4'}}</p>
    <p>{{t 'index.intro_5'}}</p>
  </section>

 <section class="main-content__summary">
    <LinkableHeader @linkTitle='For Developers'/>
    <ul>
      <li>{{t 'index.developers.item_1'}}</li>
      <li>{{t 'index.developers.item_2'}}</li>
      <li>{{t 'index.developers.item_3'}}</li>
      <li>{{t 'index.developers.item_4'}}</li>
    </ul>
 </section>

  <section class="main-content__summary">
    <LinkableHeader @linkTitle='For Designers'/>
    <ul>
      <li>{{t 'index.designers.item_1'}}</li>
      <li>{{t 'index.designers.item_2'}}</li>
      <li>{{t 'index.designers.item_3'}}</li>
    </ul>
  </section>

  <section class="main-content__summary">
    <LinkableHeader @linkTitle='For BAs and TPMs'/>
    <ul>
      <li>{{t 'index.basandtpms.item_1'}}</li>
      <li>{{t 'index.basandtpms.item_2'}}</li>
    </ul>
  </section>
</div>
