<header>
  <h1>{{t 'site_name'}}</h1>
  <h2>{{t 'index.header_subheadline'}}</h2>
</header>

<p>{{t 'index.intro_1' htmlSafe=true}}</p>
<p>{{t 'index.intro_2'}}</p>
<p>{{t 'index.intro_3' htmlSafe=true}}</p>
<p>{{t 'index.intro_4'}}</p>
<p>{{t 'index.intro_5'}}</p>

<a href='#developers'>
  <h3 id='developers'>{{t 'index.developers.headline'}}</h3>
</a>
<ul>
  <li>{{t 'index.developers.item_1'}}</li>
  <li>{{t 'index.developers.item_2'}}</li>
  <li>{{t 'index.developers.item_3'}}</li>
  <li>{{t 'index.developers.item_4'}}</li>
</ul>

<a href='#designers'>
  <h3 id='designers'>{{t 'index.designers.headline'}}</h3>
</a>
<ul>
  <li>{{t 'index.designers.item_1'}}</li>
  <li>{{t 'index.designers.item_2'}}</li>
  <li>{{t 'index.designers.item_3'}}</li>
</ul>

<a href='#basandtpms'>
  <h3 id='basandtpms'>{{t 'index.basandtpms.headline'}}</h3>
</a>
<ul>
  <li>{{t 'index.basandtpms.item_1'}}</li>
  <li>{{t 'index.basandtpms.item_2'}}</li>
</ul>
